{% extends 'base.html' %}

{% block title %}Logout{% endblock %}

{% block content %}
<style>
    body {
        background-color: #36454F; /* Charcoal */
    }
</style>

<!-- Bootstrap Modal for Unauthenticated Access Message -->
<div class="modal fade" id="authModal" tabindex="-1" role="dialog" aria-labelledby="authModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="authModalLabel">Authentication Required</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            Requested resource is not authenticated. Please log in to access this resource.
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <a href="/login" class="btn btn-primary">Login</a>
        </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="jumbotron mt-5">
        <h1 class="display-4">You have successfully logged out!</h1>
        <p class="lead">Thank you for using our website.</p>
        <hr class="my-4">
        <p>Feel free to sign up or log in again to continue using our services.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{{ url_for('auth.signup') }}" role="button">Sign Up</a>
            <a class="btn btn-primary btn-lg" href="{{ url_for('auth.login') }}" role="button">Log In</a>
        </p>
    </div>
</div>
{% endblock %}